- content_for :title, "Home Delivery"
- content_for :body_id, "home_delivery"


= render 'home_splash'
= render 'home_how_it_works'
= render 'join_us'
= render 'home_delivery'
= render 'checkout'
= render 'register'
= render 'confirm_order'
= render 'thank_you'
