
p Hello!

p I just signed up on raustr.com. Use the link below to receive a $10 discount on your subscription!
p = link_to "members.tablerun.com?referral_code=#{@referral_code}", "members.tablerun.com?referral_code=#{@referral_code}"