p Dear #{@s.user.first_name},

p This email is to let you know that your TableRunner.com account has been renewed.
p You can manage your account at any time by logging in at #{link_to "members.tablerunner.com", "https://members.tablerunner.com"}.

p Thank you!

