- content_for :title, "Manage Account"
- content_for :body_id, "manage-account"

= render 'page_title'
= render 'profile'
= render 'password'
= render 'email'
= render 'billing'
= render 'delivery'
= render 'vacation_hold'
= render 'cancel_membership'